{:dictionary
 {:en
  {:reverie
   {:batteries
    {:objects
     {:reset-password {:form {:email {:label "Email"
                                      :placeholder "Email"}
                              :password {:label "Password"
                                         :placeholder "Password"}
                              :repeat-password {:label "Repeat password"
                                                :placeholder "Repeat password"}
                              :submit "Reset my password"}
                       :reset-link-text "Reset your password"}}}}}}}
