{:dictionary
 {:en
  {:reverie
   {:batteries
    {:objects
     {:reset-password {:form {:email {:label "Email"}
                              :submit "Reset my password"}
                       :forgot "Did you forget your password?"
                       :reset-link-text "bReset your password"}}}}}}}
